footer.footer
	.container
		.footer-col.col-md-3.col-sm-6.col-xs-6
			div
				a.footer-title(href="#") Пользователям и партнёрам
			ul
				li
					a(href="#") Подписка "Кино и ТВ"
				li
					a(href="#") Бонусы и подарки
				li
					a(href="#") Активировать промокод
		.footer-col.col-md-3.col-sm-6.col-xs-6
			ul
				li
					a(href="#") О проекте
				li
					a(href="#") Новости компании
				li
					a(href="#") Сотрудничество
				li
					a(href="#") Вакансии
		.footer-col.col-md-3.col-sm-6.col-xs-6
			div
				a.footer-title(href="#") На устройствах
			ul
				li
					a(href="#") Телевизоры и медиаплееры
				li
					a(href="#") Мобильные устройства
				li
					a(href="#") Компьютер
				li
					a(href="#") Подключить телевизор
		.footer-col.col-md-3.col-sm-6.col-xs-6
			div
				a.footer-title(href="#") Поддержка пользователей
			ul
				li
					a(href="tel:0800123456") 0 800 123 456 
				li
					a(href="mailto:support@onlinecinema.net") support@onlinecinema.net
				li
					a(href="#") Все контакты
				li
					a(href="#") Вопросы и ответы

