#modal_form
	span#modal_close 
		i.glyphicon.glyphicon-remove
	h3.modal-title Вход
	p Для входа  введите Ваш email и пароль.
	form.form-group
		input(class="form-control" type="text" placeholder="Email")
		input(class="form-control" type="password" placeholder="Пароль")
	button.btn-style(type="submit" class="btn") Войти
#overlay