doctype html 
html(lang="ru")
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
		link(href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="/css/styles.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title 
			block title
	body
		include modules/header
		block content
		include modules/footer

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
		script(src="https://vjs.zencdn.net/7.4.1/video.js")
		script(src="/js/script.js")