body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
}
a:hover,
a:focus {
  color: #f30 !important;
}
a:active {
  color: #f60 !important;
}
header {
  background: #000;
}
header a {
  text-transform: uppercase;
  color: #fff;
}
header .active a {
  color: #f60 !important;
}
header .logo img {
  width: 100%;
}
header .navbar-brand {
  padding: 7px;
}
.navbar-toggle .icon-bar {
  background: #f60;
}
.item {
  min-height: 63vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.title {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 42px;
  color: #fff;
}
.owl-nav {
  display: none;
}
.owl-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
}
.mfp-content {
  color: #fff;
  font-size: 20px;
  text-align: center;
}
