body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
button {
  outline: none;
}
a:hover,
a:focus {
  color: #f30 !important;
}
a:active {
  color: #f60 !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
.style-title-1 {
  margin-bottom: 20px;
}
header {
  background: #1a1a1a;
}
header a {
  text-transform: uppercase;
  color: #fff;
}
header .active a {
  color: #f60 !important;
}
header .logo img {
  width: 100%;
}
header .navbar-brand {
  padding: 7px;
}
header .navbar {
  margin: 0;
}
.navbar-toggle .icon-bar {
  background: #f60;
}
.main-slider .item {
  min-height: 63vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.main-slider .owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.main-slider .owl-nav {
  margin-top: 0px;
}
.main-slider .owl-prev,
.main-slider .owl-next {
  position: absolute;
  top: 40%;
}
.main-slider .owl-prev span,
.main-slider .owl-next span {
  font-size: 50px;
}
.main-slider .owl-prev {
  margin-left: 30px !important;
  left: 0;
}
.main-slider .owl-next {
  margin-right: 30px !important;
  right: 0;
}
.movie-title {
  font-size: 16px;
  font-weight: 600;
}
.movies-block {
  padding: 40px;
}
.item img {
  margin-bottom: 15px;
}
.item-slider .owl-nav {
  text-align: right;
}
.item-slider .owl-nav span {
  font-size: 42px;
}
.all-movies {
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
}
.all-movies .item {
  margin: 0 7px 20px 7px;
}
