extends ../main

block title
	| Главная страница
block content
	.owl-carousel.owl-theme
		.item(style="background-image:url('/img/hotel-artemida.jpg')")
		.item(style="background-image:url('/img/shpion-kotoryiy-menya-kinul.jpg')")
		.item(style="background-image:url('/img/vo-vlasti-stihii.jpg')")
	ul.cartoons-list
		//- each cartoon in cartoons
		//- 	li= cartoon.title