extends ../main

block title
	| Главная страница
block content
	.owl-carousel.owl-theme
		.item(style="background-image:url('/img/hotel-artemida.jpg')")
		.item(style="background-image:url('/img/shpion-kotoryiy-menya-kinul.jpg')")
		.item(style="background-image:url('/img/vo-vlasti-stihii.jpg')")
	.films
		
		//- each movie in movies.movies
		//- 	div= movie.title



	//- let dataJson = JSON.parse(fs.readFileSync(/../data.json")));

	//- mixin movie-card(movie)
	//- 	h2.movie-title= movie.title
	//- for movie in dataJson
	//- 	+movie-card(movie)