@main: #333;
@hover:#f30;
@active: #f60;

body {
	font-family: 'Open Sans', sans-serif !important;
	margin: 0px;
}
a:hover, a:focus {
	color:@hover !important;
}
a:active {
	color:@active !important;
}
.nav>li>a:focus, .nav>li>a:hover { 
	background-color: transparent;
}
header {
	background: #1a1a1a;
	a {
		text-transform: uppercase;
		color: #fff;
	}
	.active a {
		color:@active !important;
	}
	.logo img {
		width: 100%;
	}
	.navbar-brand {
		padding: 7px;
	}
	.navbar {
		margin: 0;
	}
}
.navbar-toggle .icon-bar{
	background: @active;
}

.main-slider {
	.item {
		min-height: 63vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top;

	}
	.owl-dots {
		position: absolute;
		bottom: 15px;
		left: 50%;
	}
	.owl-nav {
		display: none;
	}
}

.movie-title {
	font-size: 16px;
	font-weight: 600;
}

.movies-block {
	padding: 40px;
}










